<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appium WDIO Workshop Suite">

    <test name="Mobile Automation Tests">
        <classes>
            <class name="org.example.tests.NavigationTest"/>

            <class name="org.example.tests.SignUpTest"/>

            <class name="org.example.tests.LoginTest"/>

            <class name="org.example.tests.SwipeTest"/>
        </classes>
    </test>

</suite>